body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/*
*::before
*::after {
    box-sizing: border-box;
         }*/

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 1158px;

  padding-left: 15px;
  padding-right: 15px;
}

/*header*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header > .container {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-hdr {
  color: #2e2f42;
}

.link-menu {
  color: #2e2f42;
  text-decoration: none;
  list-style-type: none;
  display: block;
  padding: 24px 0;

  /*   position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)*/
}
.link-menu-current {
  color: #2e2f42;
  text-decoration: none;
  list-style-type: none;
  display: block;
  padding: 24px 0;

  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-menu-current::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.link-address {
  color: #434455;
  list-style-type: none;
  text-decoration: none;

  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  list-style-type: none;

  display: flex;
  gap: 40px;
  align-items: center;
  padding: 0;
  margin: 0;
}

.header-address {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  list-style-type: none;

  display: flex;
  gap: 40px;
  align-items: center;
  padding: 0;
  margin: 0;
}

.header-menu :hover,
.header-menu :focus {
  color: #404bbf;
}

.header-address :hover,
.header-address :focus {
  color: #404bbf;
}

/*main-1*/

.main-hero {
  background: #2e2f42;
  padding: 188px 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;

  max-width: 496px;

  margin: 0;
  margin-bottom: 48px;
}

.bttn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;

  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  height: 56px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bttn:hover,
.bttn:focus {
  background-color: #404bbf;
}

.main-hero > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*main-2*/

.main-second {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-second-list {
  display: flex;
  /* flex-wrap: wrap;*/
  gap: 24px;
}

.list-second {
  flex-basis: calc((100% - 72px) / 4);
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 8px;
  border-radius: 4px;
  background: #f4f4fd;
  height: 112px;
  border: 1px solid #8e8f99;
}

.main-second-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;

  margin-top: 0px;
  margin-bottom: 8px;
}

/*main-3*/

.main-third {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.main-third-list {
  display: flex;
  gap: 24px;
  /*       flex-basis: calc (100% - 72px) / 4;*/
}
.image-third {
  display: block;
  /*  border-radius: 0px 0px 4px 4px;*/
}

.main-third-link {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

  flex-basis: calc (100% - 72px) / 4;
  background-color: #ffffff;

  /* width: calc((100% - 72px) / 4) */
}
.social-icons-list {
  display: flex;
  /* display: inline-flex;*/
  justify-content: center;
  gap: 24px;
}
.social-icons {
  width: 40px;
  height: 40px;
}

.item-icons {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-icons:hover {
  background-color: #404bbf;
}
.item-icons:focus {
  background-color: #404bbf;
}

.item {
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*.main-third-link:not(:last-child) {
    margin-right: 24px;
} */
/* .main-third-link > img {
    width: calc((100% - 72px) / 4);
     display: block;
    border-radius: 0px 0px 4px 4px;
  }*/

.main-third-title {
  margin: 0;
  margin-bottom: 8px;
  text-align: center;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.19;
}
.text-third {
  margin: 0;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.main-title-two {
  font-size: 36px;
  margin: 0;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;

  margin-bottom: 72px;
}

.contest-third {
  padding: 32px 0;

  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

/*main-4*/

.main-fourth {
  padding-top: 120px;
  padding-bottom: 120px;
}
.main-fourth > .main-title-two {
  margin: 0;
  margin-bottom: 72px;
}
.main-fourth-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
}

.main-fourth-list {
  background-color: #ffffff;
}
.main-fourth-link > img {
  display: block;
}
.main-fourth-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-fourth-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;

  transform: translateY(100%);
  transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-images {
  position: relative;
  overflow: hidden;
}

.portfolio-images:hover .portfolio-text {
  transform: translateY(0%);
}

.contest-fourh {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.main-title-three {
  margin: 0;

  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.19;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background: #fff;
  margin: 0;
}

/* footer */
.footer {
  background-color: #2e2f42;

  /*  display: inline-block;*/

  padding: 100px 0;
}
.footer .container {
  display: flex;

  align-items: baseline;
}
.webstudio {
  margin-right: 120px;
}

.footer-icons-list {
  display: flex;
  gap: 16px;

  /*padding-bottom: 32px;
        padding-left: 16px;*/
}
.footer-icons {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons :hover {
  background-color: #31d0aa;
}
.footer-icons :focus {
  background-color: #31d0aa;
}

.logo-ftr {
  /* display: inline-block;*/
  color: #f4f4fd;
  margin-bottom: 16px;
}
.logoftr {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;

  margin-bottom: 16px;
}

.text-ftr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  margin: 0;
}
.text-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  width: 264px;

  margin-bottom: 16px;
}
